<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="../style/index.css">
</head>
<body>
  <div class="BigContainer ">
    <div class="Navbar">
      <div class="SousNavbar">
        <div class="ServiGO"><h1>ServiGO</h1></div>
        <div class="Pages">
          <a href="">Contact</a>
          <a href="">Se connecter</a>
        </div>
      </div>
    </div>
    <div class="HeroStart">
      <div class="PicG"><img src="../style/images/employeesGauche.jpg" alt="PicG"></div>
      <div class="Text1">
        <h1>Trouvez Le Bon Prestataire Au Bon Moment, Sans Effort.</h1>
        <p>Notre plateforme vous met en relation avec des professionnels fiables et qualifiés, en fonction de vos besoins spécifiques et de votre localisation. Que vous soyez à la recherche d’un artisan, d’un service à domicile ou d’un client potentiel, ServiGO simplifie vos démarches grâce à une interface claire, rapide et intuitive.
          Gagnez du temps, évitez les recherches interminables, et accédez à une communauté de confiance.
          Avec ServiGO, la mise en relation devient simple, rapide et efficace — pour que vous puissiez vous concentrer sur l’essentiel : votre projet.</p>
        <div class="btns1">
          <a href="">démarrer</a>
          <a href="">Lire la suite</a>
        </div>
      </div>
      <div class="PicD"><img src="../style/images/employeesDroit.jpg" alt="PicD"></div>
    </div>
    <section class="features">
      <h2>Pourquoi choisir ServiGO ?</h2>
      <div class="feature-cards">
        <div class="card">
          <img src="../style/images/group.png" alt="Mise en relation efficace">
          <h3>Mise en relation efficace</h3>
          <p>Les clients publient leurs besoins, les prestataires répondent avec leurs compétences. Une plateforme claire pour des collaborations réussies.</p>
        </div>
        <div class="card">
          <img src="../style/images/eye.png" alt="Plateforme intuitive">
          <h3>Interface intuitive</h3>
          <p>Une navigation fluide pensée pour une expérience utilisateur simple et agréable.</p>
        </div>
        <div class="card">
          <img src="../style/images/checked.png" alt="Fiabilité">
          <h3>Profils vérifiés</h3>
          <p>Reposez-vous sur une communauté de membres notés et vérifiés pour plus de confiance.</p>
        </div>
      </div>
    </section>
    <section class="how-it-works">
      <h2>Comment ça fonctionne ?</h2>
    
      <div class="user-type">
        <h3>Pour les clients</h3>
        <div class="step-cards">
          <div class="step">
            <div class="step-number">1</div>
            <h4>Créez votre compte</h4>
            <p>Inscrivez-vous gratuitement pour accéder aux prestataires et services.</p>
          </div>
          <div class="step">
            <div class="step-number">2</div>
            <h4>Recherchez ou publiez</h4>
            <p>Parcourez les profils de prestataires ou publiez une demande de service.</p>
          </div>
          <div class="step">
            <div class="step-number">3</div>
            <h4>Choisissez le bon prestataire</h4>
            <p>Comparez les offres, contactez directement et engagez le professionnel qu’il vous faut.</p>
          </div>
        </div>
      </div>
    
      <div class="user-type">
        <h3>Pour les prestataires</h3>
        <div class="step-cards">
          <div class="step">
            <div class="step-number">1</div>
            <h4>Inscrivez-vous</h4>
            <p>Créez un compte professionnel et complétez votre profil avec vos expériences et services.</p>
          </div>
          <div class="step">
            <div class="step-number">2</div>
            <h4>Attirez ou explorez</h4>
            <p>Les clients peuvent vous contacter via votre profil, ou vous pouvez répondre à leurs demandes.</p>
          </div>
          <div class="step">
            <div class="step-number">3</div>
            <h4>Travaillez et soyez évalué</h4>
            <p>Accomplissez les missions, recevez des avis, et développez votre réputation en ligne.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="services">
      <h2>Nos Services</h2>
      <div class="service-cards">
          <div class="service-card">
              <img src="../style/images/mechanic.png" alt="Mécanique automobile">
              <h3>Mécanique automobile</h3>
              <p>Nous offrons des services complets pour vos réparations automobiles.</p>
          </div>
          <div class="service-card">
              <img src="../style/images/electricity.png" alt="Electricité">
              <h3>Electricité</h3>
              <p>Réparation et installation électrique pour votre confort.</p>
          </div>
          <div class="service-card">
              <img src="../style/images/woodwork.png" alt="Menuiserie">
              <h3>Menuiserie</h3>
              <p>Des experts en menuiserie pour vos projets de bois sur mesure.</p>
          </div>
          <div class="service-card">
              <img src="../style/images/builder.png" alt="Maçonnerie">
              <h3>Maçonnerie</h3>
              <p>Nous rénovons et construisons avec expertise et précision.</p>
          </div>
          <div class="service-card">
              <img src="../style/images/reparation.png" alt="Réparation électroménager">
              <h3>Réparation électroménager</h3>
              <p>Services de réparation pour vos appareils électroménagers.</p>
          </div>
          <div class="service-card">
              <img src="../style/images/painter.png" alt="Peinture et décoration">
              <h3>Peinture et décoration</h3>
              <p>Transformez votre intérieur avec nos services de peinture et décoration.</p>
          </div>
          <div class="service-card">
              <img src="../style/images/cleaning.png" alt="Nettoyage">
              <h3>Nettoyage</h3>
              <p>Nettoyage de qualité pour maintenir votre espace propre et sain.</p>
          </div>
          <div class="service-card">
            <img src="../style/images/laser-cutting-machine.png" alt="Ferblanterie">
            <h3>Ferblanterie</h3>
            <p>Fabrication, installation et réparation d'éléments métalliques pour la construction, l'industrie et la décoration.</p>
          </div>
          <div class="service-card">
            <img src="../style/images/architect.png" alt="Architecture">
            <h3>Architecture</h3>
            <p>Conception, planification et supervision de projets architecturaux pour des constructions résidentielles, commerciales et plus.</p>
          </div>        
          <div class="service-card">
            <img src="../style/images/plumber.png" alt="Plomberie">
            <h3>Plomberie</h3>
            <p>Nous assurons la réparation, l'installation et l'entretien de vos installations de plomberie pour garantir votre confort.</p>
          </div>
          <div class="service-card">
            <img src="../style/images/farmer.png" alt="Jardinier">
            <h3>Jardinier</h3>
            <p>Entretien, aménagement et création de jardins, pelouses et espaces verts.</p>
          </div>
          <div class="service-card">
              <img src="../style/images/factory.png" alt="Déménageur et Chargeur de Poids">
              <h3>Déménageur</h3>
              <p>Services de déménagement et transport de charges lourdes avec soin et professionnalisme.</p>
          </div>
        
      </div>
  </section>
    <section class="what-our-users-are-saying">
      <h2>Ce que disent nos utilisateurs</h2>
      <div class="testimonials">
        <div class="testimonial-card">
          <div class="user-image">
            <img src="../style/images/group.png" alt="User 1">
          </div>
          <div class="quote-icon">“</div>
          <p>"This service has made my life so much easier. Highly recommended!"</p>
          <div class="user-name">John Doe</div>
          <div class="user-position">Software Engineer</div>
        </div>
    
        <div class="testimonial-card">
          <div class="user-image">
            <img src="../style/images/group.png" alt="User 2">
          </div>
          <div class="quote-icon">“</div>
          <p>"A game changer in terms of efficiency. Excellent customer support!"</p>
          <div class="user-name">Jane Smith</div>
          <div class="user-position">Product Manager</div>
        </div>
        
        <div class="testimonial-card">
          <div class="user-image">
            <img src="../style/images/group.png" alt="User 3">
          </div>
          <div class="quote-icon">“</div>
          <p>"I can't imagine going back to how things were before using this!"</p>
          <div class="user-name">Alex Brown</div>
          <div class="user-position">Designer</div>
        </div>
      </div>
      <div class="view-all-reviews">
        <a href="all-reviews.html" class="view-all-btn">Voir tous les avis</a>
      </div>
    </section>               
  </div>
</body>
</html>