<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ServiGO - Login</title>
  <link rel="stylesheet" href="../style/login.css"> <!-- Lien vers le CSS -->
</head>
<body>
  <div class="login-container">
    <a href="javascript:history.back()" class="back-button">
      &#8592; Retour
    </a>
    <div class="login-form">
      <h2>Se Connecter</h2>
      <form>
        <input type="email" name="email" placeholder="Adresse e-mail" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">Connexion</button>
      </form>
      <div class="extra-links">
        <a href="#">Mot de passe oublié ?</a>
        <a href="../views/register.html">Créer un compte</a>
      </div>
    </div>
  </div>
</body>
</html>
